.header {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  z-index: 1;
  padding: 1rem;
  background: var(--blue);
  color: #ffff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 9rem;
  height: 5rem;
  margin: -1rem 0 -1.1rem;
}

.container nav span {
  padding: 0.5rem;
}

/* .container nav span:hover {
  border: 1px solid var(--orange);
} */

.menu {
  display: none;
  cursor: pointer;
}

.navclosed {
  display: flex;
  align-items: center;
}

.signout {
  cursor: pointer;
}

@media (max-width: 600px) {
  .menu {
    display: flex;
  }
  .nav {
    position: absolute;
    top: 4.5rem;
    left: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 25rem;
    background-color: #4682b4f2;
    font-size: 2rem;
  }
  .navclosed {
    display: none;
  }
}
