.button {
  border-radius: 4px;
  background-color: var(--blue);
  height: 45px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #3b729f;
}

.orange {
  background-color: var(--orange);
}

.orange:hover {
  background-color: rgb(255, 183, 0);
}

.lightgrey {
  background-color: rgb(0 0 0 / 10%);
}

.lightgrey:hover {
  background-color: #bababa;
}

.like {
  background-color: transparent;
  height: auto;
  width: auto;
  padding: 0;
}

.like svg {
  color: red;
  font-size: 1.5rem;
}

.like:hover {
  background-color: transparent;
}

.google {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: var(--grey);
  border: 1px solid;
  font-size: 1rem;
}

.google:hover {
  border: 1px solid var(--orange);
  color: black;
  background-color: #fff;
}

.alert,
.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

.edit {
  color: #44f34c;
}

.edit:hover {
  background-color: #44f34c;
  color: #fff;
}

.alert {
  color: #ff2d49;
}

.alert:hover {
  background-color: #ff2d49;
  color: #fff;
}

.button:disabled {
  background-color: #858585;
}

.sm {
  height: 50px;
  width: 50px;
}

.med {
  height: 45px;
  width: 150px;
}

.lrg {
  height: 45px;
  width: 250px;
}
