.chip {
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 3px 10px;
  border: 1px solid #eee;
  color: var(--grey);
}

.selectable {
  cursor: pointer;
}

.selected {
  background-color: var(--orange);
  color: #fff;
  border: none;
  margin: 1px;
}
