.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 30px;
  flex-direction: column;
  padding: 30px;
  position: relative;
}

.form div {
  position: relative;
}

.form .title {
  color: rgb(30, 30, 30);
  font-size: var(--l);
  font-weight: bold;
  margin: 30px auto;
}

.subtitle {
  align-self: flex-start;
  font-size: var(--m);
  margin: 0;
}

.form .box {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  border: 0;
  width: 450px;
  border-radius: 5px;
  padding: 5px 10px 10px;
  font-size: var(--m);
  cursor: text;
  background-color: rgb(0, 0, 0, 0.1);
}

.form .box:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.form .box:focus-within {
  background-color: rgb(0, 0, 0, 0.2);
}

.form .box textarea {
  resize: none;
  height: 150px;
}

.form .box input,
.form .box textarea {
  border: 0;
  background-color: rgb(0, 0, 0, 0);
  outline: 0;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.form .box input + label,
.form .box textarea + label {
  color: rgb(0, 0, 0, 0.6);
  cursor: text;
  font-size: var(--s);
  user-select: none;
}

.box input:-webkit-autofill,
.boxinput:-webkit-autofill:hover,
.box input:-webkit-autofill:focus,
.box textarea:-webkit-autofill,
.box textarea:-webkit-autofill:hover,
.box textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #e1e1e1e1 inset;
}

.smallboxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 450px;
}

.smallboxes div {
  flex: 1;
}

.message {
  margin: 0;
  font-size: var(--s);
  color: crimson;
}

@media only screen and (max-width: 830px) {
  .form .box,
  .smallboxes {
    width: 300px;
  }

  .smallboxes .box {
    width: 140px;
  }
}
