.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: min(400px, 100%);
  gap: 30px;
  flex-direction: column;
  padding: 30px;
  position: relative;
  margin: auto;
}

.form div {
  position: relative;
}

.form a:hover {
  text-decoration: underline;
}

.title {
  color: rgb(30, 30, 30);
  font-size: var(--xxl);
  font-weight: 700;
  text-align: center;
  margin: 3rem 0px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.subtitle {
  color: rgb(30, 30, 30);
  font-size: var(--l);
  font-weight: 400;
  align-self: baseline;
  margin: 2rem 0rem -2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.sectiontitle {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 1px;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
}

.sectiontitle p {
  font-size: var(--s);
  letter-spacing: 0.2rem;
  color: var(--grey);
  font-weight: 700;
  text-transform: uppercase;
}

.sectiontitle div {
  background-color: #eaeaea;
  height: 1px;
  margin: 8px 0 8px 10px;
  flex: 1 1;
}

.box {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  border: 0;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px 10px;
  font-size: var(--m);
  cursor: text;
  border: 1px solid #eaeaea;
}

.box:focus-within {
  border: 1px solid #666;
}

.box textarea {
  resize: none;
  height: 150px;
}

.box input,
.box textarea {
  border: 0;
  outline: 0;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.box input + label,
.box textarea + label {
  color: rgb(0, 0, 0, 0.6);
  cursor: text;
  font-size: var(--s);
  user-select: none;
}

.box input:-webkit-autofill,
.box input:-webkit-autofill:hover,
.box input:-webkit-autofill:focus,
.box textarea:-webkit-autofill,
.box textarea:-webkit-autofill:hover,
.box textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.smallboxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.smallboxes div {
  flex: 1;
  width: 45%;
}

.tagbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.message {
  margin-top: -1.5rem;
  font-size: var(--s);
  align-self: flex-start;
}

.error {
  color: crimson;
}

.success {
  color: #44f34c;
}

.tooltipcontainer {
  position: relative;
  width: inherit;
  display: inline-flex;
  justify-content: space-between;
}

.tooltip {
  align-self: baseline;
  margin: 2rem 0rem -2rem;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  color: var(--grey);
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  font-size: var(--m);
  position: absolute;
  right: 1rem;
  top: 3.1rem;
  z-index: 1;
}

.tooltip:hover + .tooltiptext {
  visibility: visible;
}
