.logo {
  display: flex;
  align-items: center;
  color: inherit;
  user-select: none;
  font-size: inherit;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo i {
  font-size: inherit;
  color: inherit;
  align-self: center;
}

.small {
  font-size: var(--s);
}

.medium {
  font-size: var(--m);
}

.large {
  font-size: var(--l);
}

.xlarge {
  font-size: var(--xl);
}
