.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner svg {
  animation: spin 1.5s infinite;
}

.spinnerlrg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000073;
  color: var(--orange);
  z-index: 1;
  font-size: 3rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
