.photobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.photobox p {
  margin: 0;
}

.photobox img {
  width: 80%;
  height: auto;
  margin-top: 2rem;
}

.photobox > button > i {
  color: #fff;
}

.fileinput {
  display: none;
}
