.container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.heading {
  font-size: var(--l);
  font-weight: 200;
  text-align: center;
}

.heading p {
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.searchbar {
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgb(0, 0, 0, 0.3);
  outline: 0px solid rgb(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #ffff;
  transition: 0.3s;
}

.searchbar input {
  background-color: #ffff;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  outline: 0;
  border: 0;
  font-size: 1rem;
  width: 100%;
  padding: 12px 10px;
}

.searchbar i {
  padding-left: 0.5rem;
}

.searchbar:focus-within {
  outline: 1px solid var(--blue);
  border-radius: 10px;
}
