.card {
  margin: 1rem;
  text-align: left;
  border-radius: 10px;
  width: 300px;
  height: 350px;
}

.image {
  width: 300px;
}

.description {
  color: var(--grey);
}

.text {
  /* padding-bottom: 4rem; */
}
