.card {
  margin: 1rem;
  text-align: left;
  border-radius: 10px;
  width: 300px;
  height: 280px;
}

.image {
  object-fit: cover;
}

.description {
  color: var(--grey);
  -webkit-line-clamp: 3;
}

.text h4,
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text h4 {
  -webkit-line-clamp: 1;
}
