.splashcontainer {
  position: relative;
  margin: -10rem 0;
  height: 100vh;
  width: 100vw;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splashcontainer a {
  margin-top: 1rem;
}

.splashimage {
  object-fit: cover;
}

.splashtextcontainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20rem;
  width: 100%;
}

.splashtext {
  color: #000000;
  margin: 0;
  text-align: center;
  font-size: var(--xl);
  font-weight: 200;
  backdrop-filter: blur(10px);
}

.splashlogo {
  color: var(--blue);
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 450px) {
  .splashlogo {
    font-size: var(--xxl);
  }
  .splashtext {
    font-size: var(--l);
  }
}
