.splashcontainer {
  position: relative;
  margin-top: -10rem;
  height: 100vh;
  width: 100vw;
}

.splashimage {
  object-fit: cover;
}

.splashtextcontainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splashtext {
  color: #000000;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  background: #e9f3f55c;
}

.splashlogo {
  color: var(--blue);
  font-size: var(--xxl);
}

@media (max-width: 450px) {
  .splashtextcontainer {
    height: 25rem;
    width: 100%;
  }
}
